In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
x = np.array(range(10,29))
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28])

In [19]:
error = np.random.randn(19)
y = x+error
y

array([ 8.46142659, 10.64036543, 12.47088266, 13.49790524, 12.21522381,
       14.70929573, 16.47982019, 17.71808057, 17.71804304, 20.51832521,
       21.21817664, 21.50264723, 22.79361696, 22.18074751, 24.54839952,
       25.46670579, 25.50200891, 28.23034455, 27.08804096])

In [22]:
data = pd.DataFrame({'x':x,'y':y})
data

     x          y
0   10   8.461427
1   11  10.640365
2   12  12.470883
3   13  13.497905
4   14  12.215224
5   15  14.709296
6   16  16.479820
7   17  17.718081
8   18  17.718043
9   19  20.518325
10  20  21.218177
11  21  21.502647
12  22  22.793617
13  23  22.180748
14  24  24.548400
15  25  25.466706
16  26  25.502009
17  27  28.230345
18  28  27.088041